## Pandas - Python Data Analysis Library

In [ ]:
pip install pandas

import pandas
# import pandas as pd

Pandas slouží pro analýzu dat, které lze reprezentovat 2D tabulkou. Tento „tvar” dat najdeme v SQL databázích, souborech CSV nebo tabulkových procesorech. Stručně řečeno, co jde dělat v Excelu, jde dělat i v Pandas

### Pandas tutorial
docs: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.at.html  -- ukázat, nasdílet

### Jak vytvořit dataset

In [2]:
import pandas as pd

# Dataframe (DF) tvoříme ze složeného slovníku - Klíče jsou názvy sloupců, hodnoty (v listu) jsou data v řádcích

people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

print(type(people))

people_df = pd.DataFrame(people)

print(type(people_df))

print(people_df)

# Vytvoření DF rovnou bez mezi proměnné #zkopírovat do channelu pro práci

countries_df = pd.DataFrame({
'country': ['United States', 'The Netherlands', 'Spain', 'Mexico', 'Australia'],
'capital': ['Washington D.C.', 'Amsterdam', 'Madrid', 'Mexico City', 'Canberra'],
'continent': ['North America', 'Europe', 'Europe', 'North America', 'Australia'],
'language': ['English', 'Dutch', 'Spanish', 'Spanish', 'English']})

print(countries_df)

In [44]:
# nahrávání rovnou z csv souboru
df = pd.read_csv("top100banks.csv")  # add later index_col="rank" # ukázat a vysvětlit index
pd.set_option('display.max_columns', 8)  #!must be pd not df! # nastavení zobrazení, ukázat bez
pd.set_option('display.max_rows', 85)
#print(df)

#nastaveni indexu
#df = pd.read_csv("top100banks.csv", index_col="rank") 
#df = df.set_index("rank")

#df = pd.read_csv("top100banks.csv", index_col="country") # sloupec country je dvakrát ve výsledku - 1) index, 2) coutry
#print(df)

### Základní funkce

#print(type(df)) # objekt
#print(df.tail(10)) # tail = ocas = posledních xx řádků
#print(df.head(15)) # head = hlava = prvních xx řádků

# DATAFRAME SHAPE
#print(df.shape) # shape = tvar

### Přístup k datům ze sloupců

### funkce loc a iloc 
https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79 # můžete si otevřít jako pomocný materiál


jupyter notebook z článku - https://github.com/BindiChen/machine-learning/blob/master/data-analysis/030-pandas-loc-and-iloc/pandas-loc-and-iloc.ipynb

 # loc je label-based - to znamená že musíme specifikovat řádky a sloupce podle jejich názvu = labelu
   # řádky nemusí být jen indexované! 
   
 # iloc je integer position-based - musíme specifikovat řádky a sloupce podle jejich číselné (integer) pozice
 
 # ukázat tabulku z článku

# syntax 

# loc[row_label, column_label]

# iloc[row_position, column_position]

# dostat všechny řádky - df.loc[:, 'sloupec']
# dostat všechny řádky - df.iloc[:, 'index_sloupec']

# k zamyšlení - jak dostat všechny sloupce pro daný řádek?

#### Úkoly z coutries_df
1) udělejte si countries_df dataframe ze slovníku dat -> nasdíleno do slack channelu

2) nastavte index sloupec na zemi (country)

3) napište pomocí loc a iloc "query" (vysvětlit co je to query!) abyste získali hlavní město Mexika

4) napište pomocí loc a iloc "query" abyste získali všechny jazyky

5) napište pomocí loc a iloc "query" abyste získali všechny data pro Španělsko

# ACCESSING COLUMNS AND CELLS
# můžeme kombinovat i více hodnot v loc a iloc -> vkládáme je do listu --> proto tolik hranatých závorek 

#print(df.columns)
#print(df.bank)
#print(df["bank"])

#print(df[["bank","country"]]) # POZOR dvojite [[]]

#print(df.loc[0:10, "rank":"country"])
#print(df.loc[0:10, ["rank","country"]])


#print(df.iloc[0:10, 0:3]) #slicing bez hranatých závorek
#print(df.iloc[[0,10], 0:3]) radek 0 a 10 
#print(df.iloc[[0:10], 0:3]) #error
#print(df.iloc[[0:10], [0:3]]) #error

#print(df.iloc[[2], [1]])
#print(type(df.iloc[[2], [1]]))
#print(df.iloc[2,1])
#print(type(df.iloc[2,1]))
#print(df.loc[2, "bank"])
#print(type(df.loc[2, "bank"]))

# alternativní zápis
#rows = ["China", "Japan"]
#cols=["bank", "total_assets_us_b"]
#df.loc[rows, cols]

### Filtrování dat podle podmínek

# Syntax

1) Buď vytvoříme podmínku zvlášť (good practice// standart ji nazvat "filt" --> otázka: proč ne "filter"?) pod proměnou a tu vložíme do výrazu

high_rank = df["rank"] < 15
filt = df["rank"] < 15
high_rank_filter = df["rank"] < 15

print(df.loc[high_rank,["country", "bank"]])


2) Výraz rovnou vkládáme do loc / iloc
print(df.loc[df["rank"] < 15, :])

Podmínek může být víc a spojujeme je pomocí výrazů & (AND) | (OR)
df.loc[
    (df["rank"] < 15) & (df["country"] != 'China'), 
    ['bank'],
]


# Doplnění pro samostudium
Podmínky se dají vytvářek i přes iloc, nicméně je to o trochu složitější -> musíme je konvertovat do listu (viz. článek)
# zajímavost v článku - import z csv bez headers -> sloupce jsou jen indexy

In [52]:
# FILTERING
#filt = (df['bank'] == 'Bank of China') & (df['country'] == 'China') # | == AND
#filt = (df['bank'] == 'Bank of China') #| (df['country'] == 'China') # | == OR

#print(filt)
#print(df.loc[filt, ["total_assets_us_b", "rank"]])  # print all under filter
#print(40*"*")
#print(df.loc[-filt, "total_assets_us_b"]) # printing all NOT in filter


#high_rank = (df["rank"] < 15)
#print(df.loc[high_rank])
#print(df.loc[high_rank,["country", "bank"]])

#print(df.loc[df["rank"] < 15, :])
#print(df.loc[
#    (df["rank"] < 15) & (df["country"] != 'China'), 
#    ['bank'],
#]) # už se to začíná podobat SQL :)

                              bank
4   Mitsubishi UFJ Financial Group
5              JPMorgan Chase & Co
6                    HSBC Holdings
7                      BNP Paribas
8                  Bank of America
10           Credit Agricole Group
11                     Wells Fargo
12                 Japan Post Bank
13          Mizuho Financial Group

### Pokročilejší filtrace a změny názvů sloupců, změny dat

#1 funkce .isin

#eu_countries = ["UK", "France", "Germany", "Italy", "Spain"] # UK not anymore :)
#filt = df["country"].isin(eu_countries)
#print(filt) # bool -> True // False
#print(df.loc[filt]) # 6 7  HSBC Holdings  UK  2,521.77....
#print(df.loc[filt, ["bank"]])  # 6 HSBC Holdings

#2 funkce .str.contains

#filt = df["country"].str.contains('US',na=True) # string that contains "US" (to catch US and USA) and if there is empty value --> it is True
#print(filt)
#filt = df["country"].str.contains('U',na=True)  # UK, USA
#print(df.loc[filt]) # printing only those rows chosen by filter (== containg US)

# funkce .rename

#df.rename(columns={"bank":"jmeno banky", "country": "zeme"}, inplace=True) #bez inplace to failuje
#print(df["zeme"])

# funkce .map

#df["zeme"] = df["zeme"].map({"USA": "Amerika", "China": "Cina"}) # hodi to NAN na všechny ostatni --> lepši použivat s True / False
#print(df["zeme"])
#df["zeme"] = df["zeme"].map({"Cina": True}) # zbytek je NaN
#print(df["zeme"])

#format = lambda x: x.upper()
#df = df["zeme"].map(format) # musíme to dát do proměné --> DF =
#print(df)

všechny fuknce co umí pandas: https://pandas.pydata.org/docs/reference/frame.html

### Úprava dat

In [ ]:
# Vložení nových dat do sloupce

#print(df.loc[0])
#df.loc[0] = [1, "CSOB", "Czechia", "1000", "2020-12-31"]

#print(df.loc[0])
#print(type(df.loc[0, "bank"])) # class str
#print(type(df.loc[0, ["bank", "country"]])) #class <class 'pandas.core.series.Series'>


#print(df.loc[1])
#df.loc[1, ["bank", "country"]] = ["VUB", "Slovakia"]
#print(df.loc[1])

# Nahrazení více dat najednou podle podmínek

#filt = (df["country"] == "China")
#df.loc[filt, ["country", "bank"]] = ["Cina", "Banka v Cine"]
#print(df)

# Úpravy a agregační funkce - APPLY, LEN, MAP

# funkce LEN
#print(df["country"].apply(len))

# LAMBDA funkce
#format = lambda x: x.upper()
#df = df["zeme"].map(format) # musíme to dát do proměné --> DF =
#print(df)

# Normální funkce 
# APPLY
def make_it_upper(name):
    return name.upper()
#df = df["country"].apply(make_it_upper) # nefunfuje bez df = || hodí error s make_it_upper()
#print(df)

#df["country"] = df["country"].apply(lambda x: x.lower())
#print(df)

#print(len(df["rank"]))
#print(len(df["rank", "country"])) # Error - > jen jedna proměná


#print(df.apply(lambda x: x.min())) minima z každého sloupce
#print(df.applymap(len)) # error - int has no len --> same for max, min
#print(people_df.applymap(len))
#print(people_df.applymap(max)) # interesting --> showing highest letter
#print(people_df.applymap(str.lower))

#df['country'] = df['country'].replace({'China': 'Cina', 'USA': 'United States'})
#print(df)

## Zbytek se naučíme za pochodu :)

# otevřete si v googlesheets/excelu soubor top100banks.csv

# ulozte si top100banks.csv do projektu v pycharmu abychom s nim mohli pracovat

### Excel - úkoly

1) Seradte banky podle total assets od nejnižší po nejvyšší
2) Seradte bank podle abecedy (z-a)
3) Vypocitejte soucet všech assets, vypocitejte median vsech assets
4) Vytvorte seznam vsech zemi v kterých se banky nachází (a-z)
5) Udelejte tabulku - kolik bank je v které zemi (např: USA: 5) (pocet bank - od nejvic do nejmin)
6) Udelejte tabulku - kolik bank je v které zemi a kolik mají dohromady assets (a-z)
7) Udelejte tabulku kde bude z každé země pouze banky s nejvíce assets (a-z)
8) Vypiste banky ktere zacinaji pouze na "B"
9) Vypiste banky ktere maji assets nad 1000 mld USD 
10) Udelejte tabulku - banky zacinajici na stejne pismeno a kolik mají dohromady assets (a-z)

### Pandas úkoly :)

1) Seradte banky podle total assets od nejnižší po nejvyšší
2) Seradte bank podle abecedy (z-a)
3) Vypocitejte soucet všech assets, vypocitejte median vsech assets
4) Vytvorte seznam vsech zemi v kterých se banky nachází (a-z)
5) Udelejte tabulku - kolik bank je v které zemi (např: USA: 5) (a-z)
6) Udelejte tabulku - kolik bank je v které zemi a kolik mají dohromady assets (a-z)
7) Udelejte tabulku kde bude z každé země pouze banky s nejvíce assets (a-z)
8) Vypiste banky ktere zacinaji pouze na "B"
9) Vypiste banky ktere maji assets nad 1000 mld USD 
10) Udelejte tabulku - banky zacinajici na stejne pismeno a kolik mají dohromady assets (a-z)

Projdeme si je jeden po druhém spolu:
5-15 min na task pro vás
5 min - řešení a vysvětlení ode mě