## procvičování

### 1) vytvořete funkci `def uspesni` která bere jako vstup list int hodnot a vrací list int hodnot které jsou větší než 100

In [31]:
def uspesni(list_of_results):
    lst = []
    for i in list_of_results:
        if i > 100:
            lst.append(i)
    return lst

vysledky_testu = [101, 85, 62, 400, 123, 60, 75, 81, 99]
print(uspesni(vysledky_testu))

[101, 400, 123]

### 2) vytvořte funkci `def na_treti` která bere jako vstup list int hodnot a vrací list jejich hodnot na třetí

In [33]:
def na_treti(list_of_int):
    result = []
    for el in list_of_int:
        result.append(el ** 3)
    return result
hodnoty = [1,2,3,4,5,6,7,8,9]
print(na_treti(hodnoty))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

### 3) vytvořte funkci `def stock_price` která bere jako vstup dva listy - jmena akcii a hodnoty a vytvoří z nich slovnik {akcie:hodnota, akcie:hodnota}

In [35]:
def stock_price(list_of_stocks, list_of_values):
    res = {}
    for i in range(len(list_of_stocks)):
        res[list_of_stocks[i]] = list_of_values[i]
    return res

akcie = ["META", "GOOG", "AMZN", "NTFX", "AAPL"]
cena = [100, 130, 160, 299, 120]
print(stock_price(akcie, cena))

{'META': 100, 'GOOG': 130, 'AMZN': 160, 'NTFX': 299, 'AAPL': 120}

### 4) vytvořte funkci `def light_cars` která bere jako input slovnik jmen aut a jejich hmotnosti a vrací list jmen aut která jsou lehčí než 2500kg

In [37]:
def light_cars(cars):
    res = []
    for i in cars:
        if cars[i] < 2500:
            res.append(i)
    return res

cars_kilos ={"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Combi": 1700, "Roadster": 1110}
print(light_cars(cars_kilos))

['Sedan', 'SUV', 'Minivan', 'Van', 'Combi', 'Roadster']

## Lambda - anonymní funkce

 - nemá jméno
 - nemá klíčové slovo def ale **lambda**
 - používá se tam kde je definována

#Syntax
#list of arguments (nebo jen jeden) oddělené čárkou, dvojtečka, poté výraz funkce

lambda x: x*2
lambda x,y: x+y

In [39]:
nasobeni = lambda x,y: x*y
print(nasobeni(6,10))

60

### Použítí
- řazení prvků (funkce sort, parametr key)
`sorted_films = sorted(filmy_list, key=lambda x: x[1], reverse=True)`
- funkce na jednoduché úlohy - strign na malé písmena, násobení prvků v listu konstantou atd. 
- aggregační funkce `max`, `min`, `sort`

In [40]:
    normalize_name = lambda x: x.upper()
    normalize_name("Petr Sevcik")

'PETR SEVCIK'

    pairs = [(1, 10), (2, 9), (3, 8)]
    sorted(pairs, key=lambda x: x[1])  # [(3, 8), (2, 9), (1, 10)]
    min(pairs)  # (1, 10)
    max(pairs, key=lambda x: x[1])  # (1, 10)
    max(pairs, key=lambda x: x[0] * x[1])  # (3, 8)

In [45]:
pairs = [(1, 10), (2, 9), (3, 8)]
#min(pairs, key= lambda x: x[1]) 
maximum = max(pairs, key= lambda x: x[0]*x[1])
print(maximum)

(3, 8)

- použítí s `map`, `filter`

In [47]:
vysledky_testu = [101,85,62,400,123,60,75,81,99]
uspesni = filter(lambda x: x>100, vysledky_testu)
print(list(uspesni))

[101, 400, 123]

In [49]:
hodnoty = [1,2,3,4,5,6,7,8,9]
na_treti = map((lambda x: x**3), hodnoty)
print(list(na_treti))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

- použití v datové analýze (Pandas)

### úkoly

In [52]:
zvirata =["otter", "whale", "goose", "chipmunk", "fox", "sheep", "rabbit", "marten"]

#seradte zivrata podle abecedy
sorted_zvirata = sorted(zvirata, key= lambda x: len(x))
sorted_zvirata
#seradte podle delky jmena zvirete
#sorted_zvirata_podle_delky =

['fox', 'otter', 'whale', 'goose', 'sheep', 'rabbit', 'marten', 'chipmunk']

In [57]:
mesta_populace =[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

#1) seradte mesta podle abecedy
#2) seradte mesta podle populace
#3) vyberte mesto s největší a nejmenší populaci 

podle_max_populace = sorted(mesta_populace,key=lambda x: x[0], reverse=True)
mesta_podle_abecedy = sorted(mesta_populace,key=lambda x: x[1])
#print(podle_max_populace)
#print(mesta_podle_abecedy)
#max_populace
#mesta_podle_abecedy
max_populace = max(mesta_populace, key=lambda x: x)
min_populace = min(mesta_populace, key=lambda x: x)
min_populace

(626299, 'Vermont')

In [59]:
programmer = [{'Name':'Mark', 'Programming':'Python', 'Year of Experience': 3},
               {'Name':'Nicole', 'Programming':'C', 'Year of Experience': 1},
               {'Name':'Jason', 'Programming':'R', 'Year of Experience': 10}]

# seradte programatory podle let zkušeností

sorted_programmer = sorted(programmer, key=lambda x: x["Programming"])
sorted_programmer

[{'Name': 'Nicole', 'Programming': 'C', 'Year of Experience': 1},
 {'Name': 'Mark', 'Programming': 'Python', 'Year of Experience': 3},
 {'Name': 'Jason', 'Programming': 'R', 'Year of Experience': 10}]

### Lambdy slouží především k zpřehlednění kódu. Dají se nahradit běžnými funkcemi (def) na více řádků nebo list comperhensions

## List comperhesions
- něco jako lambda
- něco jako for loop

#Syntax of List Comprehension
[expression for item in list]

příklady

In [60]:
hodnoty = [1,2,3,4,5,6,7,8,9]
na_treti = [x**3 for x in hodnoty]
na_treti

[1, 8, 27, 64, 125, 216, 343, 512, 729]

- hodí se např na generování listu cisel

In [62]:
one_to_twenty = [i for i in range(1,21)]
one_to_twenty

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

##### dá se kombinovat i s if, else

- sudé, liché

In [66]:
hodnoty = [1,2,3,4,5,6,7,8,9]
na_treti = [x**3 for x in hodnoty]
print(na_treti)
sude_liche = ["sudé" if x%2 == 0 else "liché" for x in na_treti]
print(sude_liche)

SyntaxError: invalid syntax (2394868130.py, line 4)

### priklady

In [67]:
cisla = [44,54,64,74,104]

#prictete ke kazdemu cislu 6
plus_sest = [x + 6 for x in cisla]
plus_sest

[50, 60, 70, 80, 110]

In [88]:
cars_kilos ={"Skoda": 1500, "Kodiaq": 2000, "Pickup": 2500, "Man": 16000, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110}

car_names_up_to_2500 = [car for car in cars_kilos if cars_kilos[car]<2500]
#vytvorte list se jmeny aut s váhou do 2500kg
#print(cars_kilos["Skoda"])

1500

In [87]:
#za zlateho bludistaka

akcie = ["FACE", "KOFOLA", "MONETA", "CEZ", "APPL"]
cena = [100, 130, 160, 299, 200]

#vytvořte dict stocks s key = akcie, value = cena ...{"META":100}
#akcie_cena = {akcie[i]:cena[i] for i in range(len(akcie))}
#stocks
akcie_cena = {stock:price for stock, price in zip(akcie, cena)}
print(akcie_cena)
print(type(akcie_cena))

cena = [100, 130, 160, 299, 200, 200, 130, 160, 160, 320, 209]
print(cena)
set_cena = set(cena)
print(set_cena)

{'FACE': 100, 'KOFOLA': 130, 'MONETA': 160, 'CEZ': 299, 'APPL': 200}
<class 'dict'>
[100, 130, 160, 299, 200, 200, 130, 160, 160, 320, 209]
{160, 320, 130, 100, 200, 299, 209}

## Set
### A set is an unordered collection
### Elements in the set cannot be sorted as they are unordered.
### There are no count() methods in sets as they do not allow any duplicates
### The sets are unordered, which refrains from applying the reverse() method
### The pop() method removes a random item from the set.

# Regex - Regular Expressions

https://www.programiz.com/python-programming/regex

#### Teorie
`Regular expressions are patterns that describe strings of symbols. For example, we can create an expression that will match any e-mail address, any date, phone number, or credit card number, etc.`

- **Regulární výrazy/Regexy - slouží k vyhledávání v textu (stringu) podle daných parametrů a paternů. Můžeme je vytvořit na emaily, data, telefoní čísla nebo čísla kreditních karet**

In Python, we need a re module to work with regular expressions. This module will help us to search for strings matching a pattern in text, or to check if a given text exactly matches a given pattern.

- v pythonu pro práci s regexy používáme knihovnu `re`

In [ ]:
import re

online tool - https://regex101.com/

cheatsheet - https://cheatography.com/davechild/cheat-sheets/regular-expressions/

### základní výrazy . ? + *

. jakýkoliv jeden znak =  .ama matches mama, lama, sama, dama 
? nula nebo jedna occurence předchozího znaku = j?sem = jsem, sem 
+ jedna nebo více occurence předchozího znaku = lo+l = lol, loooool, loooooooooool
* jakýkoliv počet occurence předchozího znaku, včetně nuly a*la = la, ala, aaaaala

{3} - přesně 3 znaky
{3,} - tři a více
{3,5} - tři až pět (včetně)

## [Určité znaky nebo range znaků, čísel]

[VSY]oda - matches - Voda, Soda, Yoda
[^f]uck - vše kromě fuck :) třeba duck
[a-z] - abeceda
[a-e] - může být i od "a" do "e" - včetně
[A-Z] - velká písmena
[0-9] - čísla
[1-5] - může být i od "1" do "5" - včetně

### typy znaků \w \d \S

\d - digit - čísla 
\w - word - [A-Za-z0-9_]
\D - non-digit - cokoliv co není číslo
\W - cokoliv co není písmeno nebo číslo
\s - white space znaky \f\n\r\t\v
\S - vše kromě bílých znaků

https://regexland.com/most-common-regular-expressions/

cvičení:

použijte https://regex101.com/ 
cvičné věty:

- muj email je petrsevcik@email.com, SDA má email SDA@seznam.cz

- ALC dnes oznámily objednávku na 25 A220, 55 A321neo, 20 A321XLR a 4 A330neo. Boeing ziskal objednavky na 20 737MAX 10 787 dreamlineru. Neprodal se žádný bombardér B52 ani stíhačka F16.


 - vytvořte regex na vyhledávání emailových address
 - vytvořete regex na vyhledávání typů letadel boeing a airbus (A319, A220, A320, A321, A350, 737, 777, 787)

### Knihovna RE

#funkce
search - takes two arguments - regex and text - re.search(r"[A-Z]la", "ala, Ola Ela") - vrací objekt
match - same as search
findall - vrací všechny výsledky v listu print(re.findall(r".la", "Ola ala Ela")) # ['Ola', 'ala', 'Ela']
split - rozděluje výrazy podle daného parametru
sub - nahrazuje výrazy podle daného parametu

In [93]:
vysledek = re.findall("\n[A-Z]la", "ala, Ola Ela")
vysledek

['Ola', 'Ela']

In [99]:
import re
text = "muj email je petrsevcik@email.com, SDA má email SDA@seznam.cz"
regex_vyraz = "[a-zA-Z0-9._]+@[a-zA-Z0-9]+.[a-z]{2,3}"
vysledek = re.sub(regex_vyraz,"********",text)
vysledek

'muj email je ********, SDA má email ********'

cvičení:
stáhnout všechny typy letadel Boeing a Airbus z článku https://zdopravy.cz/airbus-ma-dalsi-velkou-zakazku-prvni-zakaznik-si-objednal-a350-v-nakladni-verzi-96785/